
/***************************
****************************
        COLORS
****************************
***************************/
$secondary-color: #471a1b;
$primary-color: #4ac1bb;
$secondary-color-hover: #4ac1bb;
/*-------------Background -------------*/
$background-color-white: #f0eeee;
$background-color-pink: #f7eef2;
$background-color-pink-secondary: #dcb3c3;

/*-------------Main colors -------------*/
$main-color: #402020;

/*-------------Product colors -------------*/
$turrones-color: #ff8500;
$turrones-color-ligther: #ffbe76;
$turrones-color-background: #fff6ed;
$turrones-color-background-nav: rgba(255, 246, 237, 0.90);

$trufas-color: #ffabb0;
$trufas-color-ligther: #ffd2d5;
$trufas-color-background: #fff8f9;
$trufas-color-background-nav: rgba(255, 248, 249, 0.90);

$grageas-color: #53b003;
$grageas-color-ligther: #aed891;
$grageas-color-background: #fefffe;
$grageas-color-background-nav: rgba(254, 255, 254, 0.90);

$tabletas-color: #471a1b;
$tabletas-color-ligther: #a08888;
$tabletas-color-background: #f1efef;
$tabletas-color-background-nav: rgba(241, 239, 239, 0.9);

$chocolatinas-color: #f0062a;
$chocolatinas-color-ligther: #ff7e90;
$chocolatinas-color-background: #ffedf0;
$chocolatinas-color-background-nav: rgba(255, 237, 240, 0.9);

$taza-color: #cea675;
$taza-color-ligther: #e5cfb5;
$taza-color-background: #faf8f4;
$taza-color-background-nav: rgba(250, 248, 244, 0.9);

$cacao-color: #00702e;
$cacao-color-ligther: #4cb492;
$cacao-color-background: #e8f4ef;
$cacao-color-background-nav: rgba(232, 244, 239, 0.9);

/*------------- Recetas -------------*/
$recetas-color: #ff8500;
$recetas-color-ligther: #ffbe76;
$recetas-color-background: #fff6ed;
$recetas-color-background-nav: rgba(255, 246, 237, 0.90);

/*------------- Footer -------------*/
$dropdown-color: #ccc5c5;
$footer-color: #9e2956;
$input-color: #d39fb4;
